{% extends 'base.html' %}
{% load static %}
{% block content %}
<section class="mt-5">
    <div class="container mt-5">
        <div class="row d-flex justify-content-center back_color mt-5">
            <div class="col-3 mt-5" style="text-align: center;">
                <h1 class="text-light" style="font-weight:700; font-size: 150px;">404</h1>
            </div>
        </div>

        <div class="row d-flex justify-content-center back_color">
            <div class="col-6" style="text-align: center;">
                <h2 class="text-light" style="font-weight:400;">Данной страницы не существует!</h2>
            </div>
        </div>

    </div>
</section>
{% endblock %}