{% extends 'base.html' %}
{% load static %}
{% block content %}
{% if user.is_superuser %}


    
<section>
    <div class="container">
        
        <div class="row d-flex justify-content-center back_color">
            <div class="col-10 mt-1 mb-1" style="text-align: right;">
                <a href="{% url 'pc' pc.id%}"><button class="btn btn-dark text-weight-buttons animate__animated animate__fadeIn">Назад</button></a>
            </div>
        </div>

        {% if state %}
        <div class="row d-flex justify-content-center back_color">
            <div class="col-12 mt-1 mb-1" style="text-align: center;">
                <h5 class="text-light">Данные диска </h5>
            </div>
        </div>

        <div class="row d-flex justify-content-around back_color">
            <div class="col-4 mt-5  mb-1" style="text-align: left;">
                <h5 class="text-light">Путь:</h5>
            </div>
            <div class="col-4 mt-5 mb-1" style="text-align: right;">
                <a href="clear/?path={{ disk.name }}"><button class="btn btn-dark text-weight-buttons animate__animated animate__fadeIn">{{ disk.name }}</button></a>
                <a href="clear/?path={{ last_path }}"><button class="btn btn-dark text-weight-buttons animate__animated animate__fadeIn"><img width="20px" src="{% static 'media/back_button.png' %}" alt=""></button></a>
            </div>
        </div>

        

        <div class="row d-flex justify-content-center">
            <div class="col-10" style="text-align: left;">
                <div class="card text-white bg-dark mb-1 shadow-sm animate__animated animate__fadeIn">
                    <div class="card-body">
                        <form class="row d-flex justify-content-center back_color" method="get" action="clear/">
                            <div class="col-12">
                                <input type="text" class="form-control text-dark text-weight-form " name="path" placeholder="{{path}}" value="{{path}}">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div class="row d-flex justify-content-center">
            <div class="col-10 mb-1" style="text-align: left;">
                <div class="card text-white bg-dark mb-3 shadow-sm animate__animated animate__fadeIn">
                    <div class="card-body" id="folders">

                    </div>
                </div>
            </div>
        </div>

        {% else %}
        <div class="row d-flex justify-content-center back_color">
            <div class="col-12 mt-1 mb-1" style="text-align: center;">
                <h5 class="text-light">Пк еще не обработал запрос</h5>
            </div>
        </div>
        {% endif %}

    </div>

</section>

<script>
    function innerData() {
        let data = JSON.parse(`{{ data }}`)
        let state = `{{ state }}`
        let folders = document.getElementById("folders");

        function reload_page(){
            setTimeout(() => {
                location.reload()
            }, 5000);
        }

        if (folders === null){
            folders = `<div></div>`
            reload_page()
        }

        if (state == false){
            reload_page()
        }
            

        if (data == null){
            data = ["null"]
        }

        for (let i = 0; i < data.length; i++){

            if (data[i] == undefined
            || data[i].includes('.tmp')
            || data[i].includes('.sys')
            || data[i].includes('.Bin')
            || data[i].includes('.log')
            || data[i].includes('.dat')
            || data[i].includes('$')
            || data[i].includes('null')
            ){
                
                
            }
            else{
                folders.innerHTML += 
                `
                <a href="updateData/?filename=`+ data[i] +`"> <button class="btn btn-light mt-1 mb-1 text-weight-form text-dark">` + data[i] + `</button></a>
                `
            }
        }
    }

    innerData()
    setInterval(innerData, 15000);

</script>
{% endif %}
{% endblock %}

